@mixin position($position, $args) {
  @each $dir in top, left, bottom, right {
    $i: index($args, $dir);
    @if $i {
      #{$dir}: nth($args, $i + 1);
    }
  }
  position: $position;
}

@mixin absolute($args) {
  @include position(absolute, $args);
}
@mixin relative($args) {
  @include position(relative, $args);
}
@mixin fixed($args) {
  @include position(fixed, $args);
}

@mixin borderRadius($topLeft: 0, $topRight: 0, $bottomRight: 0, $bottomLeft: 0) {
	@if $topLeft != 0 {
		border-top-left-radius: $topLeft;
	}
	@if $topRight != 0 {
		border-top-right-radius: $topRight;
	}
	@if $bottomRight != 0 {
		border-bottom-right-radius: $bottomRight;
	}
	@if $bottomLeft != 0 {
		border-bottom-left-radius: $bottomLeft;
	}
}

@mixin size($args) {
  @if length($args) == 2 {
    width: nth($args, 1);
    height: nth($args, 2);
  }
  @else {
    width: $args;
    height: $args;
  }
}

@mixin circle($size) {
  @include size($size);
  border-radius: 50%;
}

@mixin rounded-box($size, $corners) {
  @include size($size);
  @include inline-border-radius($corners);
}

@function rem($pixels) {
  @return ($pixels / 16) * 1rem;
}